# Ignore bundler config.
/.bundle

# Ignore all logfiles and tempfiles.
/log/*
/tmp/*
!/log/.keep
!/tmp/.keep

# Ignore pidfiles, but keep the directory.
/tmp/pids/*
!/tmp/pids/.keep

# Ignore uploaded files in development.
/storage/*
!/storage/.keep
/tmp/storage/*
!/tmp/storage/.keep

# Ignore master key for decrypting credentials and more.
/config/master.key

# Ignore vendor bundle
/vendor/bundle

# Ignore bootsnap cache
/tmp/cache

# Database
*.sqlite3
*.sqlite3-*

# Environment files
.env
.env.local

# Ignore Mac system files
.DS_Store
